.navbar{
    background-color: rgb(255, 83, 83);
}

nav{
    color: rgb(242, 142, 242);
    margin-bottom: 2.5%;
}









 








/* footer */


footer{
    background-color: rgb(235, 233, 233);
    padding-top: 5rem;
    margin-top: 5rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
}